html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background: url('../images/fundoTerra.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

footer {
  position: absolute; 
  bottom: 20px;      
  width: 100%;       
  color: white;       
  z-index: 3;        
}

footer p {
  text-align: center; 
  margin: 0;
  padding: 0;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    padding-top: 60px;
}

.container h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 0%;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.container p {
    margin-top: 0%;
    color: white;
    font-size: 20px;
}


.container h1,
.container p {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 1s forwards;
}

.container p {
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}