body {
    background: #000000;

}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
}

h1,
p {
    color: white;
}


.container h1,
.container p {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 1s forwards;
    text-align: center;
}

.container p {
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pla-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.pla-texto {
    max-width: 400px;
}

.linha-vertical {
    width: 3px;
    height: 350px;
    background-color: white;
    border-radius: 2px;
}

@media (max-width: 900px) {
    .linha-vertical {
        display: none;
    }
}