html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;

}

.flecha {
  bottom: 30px;
  left: 50%;
  font-size: 48px;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(10px);
  }
}


.container h1,
.container p {
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 1s forwards;
  text-align: center;
}

.container p {
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.containerr h1 {
  color: white;
  font-size: 70px;
  margin-bottom: 0%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


.containerr-imagem {
  border-radius: 50px;
  box-shadow: 4px 4px 4px white;
  justify-content: center;
  left: 450px;
  position: relative;
  display: inline-block;
  margin-top: 93px;
}

.containerr-imagem img {
  display: block;
  width: 100%;
}


.ponto {
  position: absolute;
}


.pulsar {
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px black;
  border-radius: 50%;
  animation: pulso 2s infinite ease-in-out;
}

@keyframes pulso {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.fenix {
  top: 500px;
  left: 590px;
}

.ursa {
  top: 600px;
  left: 625px;
}

.orion {
  top: 520px;
  left: 785px;
}

.ursamenor {
  top: 710px;
  left: 825px;
}

.andromeda {
  top: 805px;
  left: 850px;

}

.pegaso {
  top: 805px;
  left: 705px;

}

.caomenor {
  top: 895px;
  left: 680px;
}

.cruzeiro {
  top: 880px;
  left: 595px;
}

.cao {
  top: 785px;
  left: 500px;
}


.texto-oculto {
  position: absolute;
  top: 50%;
  left: 110%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
}


.ponto:hover .texto-oculto 
{
  opacity: 1;
  visibility: visible;
}

.ponto:hover .pulsar {
  animation-play-state: paused;
  background-color: rgb(255, 0, 0);
}